.customers-container{
   
    width: 100%;
    box-sizing: border-box;    
}

.customers-control-bar{  
    padding: 20px;  
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #3590F3;
    border-radius: 25px; 
   
}

.customers-data-view{
    margin-top: 25px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #3590F3;
    border-radius: 25px; 
}

.camp-selector-menu{
    padding: 10px;
    font-size: 16px;
    margin-right: 20px;
}

.name-cell{
    width: 200px;
    overflow-x: hidden;
    height: min-content;
}

.email-cell{
    width: 250px;
    height: min-content;
}

.customer-display-container{
    display: flex;
    align-items: center;
}

.top-bar{
    display: flex;
}

.payment-cell{
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-button-container{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.customer-detail-button{
    padding: 10px;
    border: 2px solid #3590F3;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.customer-detail-container{
    border-top: 2px solid black;
    padding: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
.customer-detail-container > p {
    margin: 0;
}

.customer-detail-label{
    min-width: 200px;
    display: inline-block;
}

.payment-checkbox{
    width: 30px;
    height: 30px;
    border: 2px solid #3590F3;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
} :checked{
    background-color: #3590F3;
}
