.birth-number-input-container{
    display: flex;
    align-items: center;    
}

.birth-short{
    margin-left: 10px;
    max-width: 3rem;
    text-align: center;
}
.birth-long{
    margin-right: 10px;
    max-width: 5rem;
    text-align: center;
}

.radio-input{
    display: flex;
    align-items: center;
}

.checkbox-input{
    width: 25px;
    margin: 15px 10px 10px 0px;
    border-color: #3590F3;
}

.consent-input-group{
    display: flex;   
}

.consent-label{
    margin: 10px 10px 10px 0px;
    display: inline-block;
}