.birth-number-input-container{
    display: flex;
    align-items: center;    
}

.registration-outer{
    min-height: calc(100vh - 87.5px - 105px);
    padding: 105px 20px 0px 20px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.birth-short{
    margin-left: 10px;
    max-width: 3rem;
    text-align: center;
}
.birth-long{
    margin-right: 10px;
    max-width: 5rem;
    text-align: center;
}

.radio-input{
    display: flex;
    align-items: center;
}

.checkbox-input{
    width: 25px;
    min-width: 15px;
    margin: 15px 10px 10px 0px;
    border-color: #3590F3;
}

.consent-input-group{
    display: flex;   
}

.consent-label{
    margin: 10px 10px 10px 0px;
    display: inline-block;
}

.error-border{
    border: 2px solid red;
}

.success-border{
    border: 2px solid green;
}
