.social-icon{
    height: 50px;
    margin: 0px 5px 0px 5px;
}

.org-card{
   height: min-content;
   min-height: 410px;
}

.social-container{
    display: flex;
    justify-content: center;
    margin-top: 12px;   
}

.team-container{
    padding-top: calc(3% + 20px) !important;
    padding-bottom: calc(3% + 20px) !important;
    padding: 0px 30px 0px 30px;     
    
}

.team-button{
    padding: 8px;    
    background-color: white;
    white-space: nowrap;
    color: #3590F3;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #3590F3;
    border-radius: 10px;
    transition: 0.3s;
}
.team-button:hover{
    color: white;
    background-color: #3590F3;
}

.team-display{   
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

.team-flex-col{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.no-vis{
    display: none;
}

.team-card-container{
    display: flex;
    overflow: hidden;
    flex-direction: column;      
    position: relative;    
    justify-self: stretch; 
    box-shadow: 0px 0px 5px darkgray;
    padding: 25px;    
    background-color: white; 
}

.team-card-text{
    margin-top: 5px;
}

.open-container{
    position: relative;
    flex-grow: 1;
    background: white;
    margin-bottom: -25px;
    padding-bottom: 25px;
}

.member-image{
    max-width: 215px;
    width: 100%;      
    border: transparent;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.member-image-wrapper{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

.member-name{
    margin-top: 10px;
    margin-bottom: 0;
}

.member-role{
    margin-top: 0;
    margin-bottom: 0;
}

.more-leads-enter {
    opacity: 0;
    transform: translateY(200px);
    
  }

.more-leads-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 300ms;
}

.more-leads-exit {
    position: absolute;
    opacity: 1;
}
.more-leads-exit-active {
    position: absolute;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.more-button{
    padding: 10px;
    background-color: white;
    white-space: nowrap;
    color: #3590F3;
    border: 2px solid #3590F3;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

.info-wrapper{
    position: absolute;
    top:25px;
    left:25px;
    right: 25px;
    bottom: 25px
}

.long-desc-enter{
   transform: translateY(100%);
       
}

.long-desc-enter-active {
    transform: translateY(0px);
    
    transition: transform 500ms;
    
}

.long-desc-exit {
    position: absolute;
    transform: translateY(0px);
}
.long-desc-exit-active {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    transform: translateY(calc(100% + 25px));
    transition: transform 500ms;
}

.h-min-c{
    height: min-content !important;
}

.mtres{
    margin-top: calc(3% + 20px) !important;
}

.mt66{
    margin-top: 86px;
}

.mt25{
    margin-top: 25px;
}

.mt20{
    margin-top: 20px;
}

.mt10{
    margin-top: 10px;
}

.mt5{
    margin-top: 5px !important;
}

.mt0{
    margin-top: 0;
}

.m0{
    margin: 0;
}

.bt-blue{
    border-top: solid 2px #3590F3;
    margin-top: 10px;
    padding-top: 10px;
}

.mb10{
    margin-bottom: 15px;
}

.mb0{margin-bottom: 0px;}

.mt-auto{
    margin-top: auto;
}

.two-rows{
    grid-row-end: span 2;
}

.pos-aboslute{
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
}

.pointer{
    cursor: pointer;
}

