body {
  margin: 0;
  background-color: #ECE9E9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 38px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;
}

p{
  font-size: 16px;
}



.logo-top{
  max-height: 80px;
}

.navbar-container{
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
    align-items: center;     
  padding: 10px;  
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: -10px;
}

.navbar-links{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav-link{
  margin: 10px;
  
  font-weight: bold;
  text-decoration: none;
  color: #3590F3;
}

.title-section{
  padding-top: 104px;
 
}

.title-image-container{
  height: 70vh;
  background-size: cover;
  background-position: 50% 40%;
}

.hero-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*background-color: rgba(0,0,0,0.5);*/
  
}

.hero-paragraph{
  margin:  calc(3% + 20px) 10px calc(3% + 20px) 10px; 
  max-width: 1120px;  
  line-height: 2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.1rem;
}

.home-page-title{
  margin: 0px 25px 25px 25px;
  text-align: center;
}

.c-blue{
  color: #3590F3;
}



.camp-preview-element{
  opacity: 1;
  transition: opacity .15s ease-in;
  box-shadow: 0px 0px 5px darkgray;
  width: 100%;
  min-width: 220px;
  max-width: 350px;    
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #3590F3;
  flex: 1;
}

.camp-preview-element:hover,
.camp-preview-element:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}
.camp-preview-element:active {
  opacity: .8; transition: opacity .15s ease-out;
}

.camp-preview-image{
  width: 100%;
  min-height: 250px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.camp-section-container{ 
  padding-top: calc(3% + 20px);  
  padding-bottom: calc(3% + 20px);
  padding-left: 30px;
  padding-right: 30px;    
  overflow: auto;
  background-color: white;
}

.camp-description-container{  
  padding: 0 10px 0px 10px;
  margin: 0px 0px 20px 0px; 
}


.justify-center{
  justify-content: center !important;
}

.camp-description{
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.camp-section{   
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; 
}

.camp-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}



.camp-section-title{ 
  margin-top: 3%;
  margin-bottom: calc(3% - 15px);
  text-align: center;
  color: #3590F3
}

.camp-preview-title-container{
  padding: 0px 10px;
  display: flex;
  justify-content: center;
}

.camp-preview-title{
  color: white
}

.locale-container{
  background-color: white;
  padding-top: calc(3% + 20px);   
  padding-bottom: calc(3% + 20px);    
  overflow: auto;
  display: flex;
  justify-content: center;  
}

.locale{
  max-width: 1140px;
}

.locale-gallery{
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.locale-paragraph{
  text-align: center;
  line-height: 2;
}

.locale-image{
  box-shadow: 0px 0px 5px darkgray;
  margin: 15px;  
  min-width: 200px;
  max-width: 300px;  
  border: none;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.camp-page-container{
  padding-top: calc(80px + 2% + 4px);
 
  display: flex;
  flex-direction: column;  
  justify-content: center;
  background-color: white;
}

.contact-title{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.contact-page-container{
  padding-top: calc(80px + 2% + 4px);
  display: flex;
  flex-direction: column;  
  justify-content: center;
  background-color: white;
}

.camp-title-container{
  margin-top: auto;
  max-width: 1120px;
  height: 100%;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  
  min-height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

}

.camp-page{
  min-height: 450px;
  width: 100%;
  background-position-y: 25%;
    background-size: cover;
  
}

.camp-gallery-container{
  background-color:  #3590F3;
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 20px 0px 0px 0px;
}

.camp-gallery-title{
  text-align: center;
}

.camp-gallery-text{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.age-restriction{
  max-width: 1120px;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
}

.age-restriction > p {  
  padding: 10px;
}

.black-opaque{
  background-color: rgba(0,0,0,0.5);

}

.camp-title{
  margin-left: 20px;
  margin-right: 20px;
  color: #3590F3;
}

.arrow-img{
  cursor: pointer;
  height: 50px;
  width: 50px;  
}

.active-dot{
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.passive-dot{
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  height: 7px;
  width: 7px;
  background-color: darkgray;
  border-radius: 50%;
  display: inline-block;
}

.dot-container{
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
}

.footer-container{ 
  border-top: 1px solid grey;
  background-color: #3590F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hm0{
  margin: 15px 0px 15px 0px;
}

.hmtext{
  margin: 0px 30px 0px 30px 
}

.footer{
  max-width: 1120px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.contact-text{
  color: white;
  
}

.contact-line{
  margin: 5px 0px 5px 0px;
}

.footer-copy{
  font-weight: bold;
  color: white;
  margin: 10px 0px 10px 0px;
}

.reservation-container-outer{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.reservation-container-inner{
  max-width: 1120px;
  flex-grow: 1;  
}



.date-menu{
  display: flex;
  align-items: flex-start;
 
}

.date-selector{
  border: 2px solid #3590F3;
  flex-grow: 1;
  margin-right: 10px;
  cursor: pointer;
}

.date-selector-child:hover{
  background-color: #ECE9E9;
}

.date-selector-child{
  color: #3590F3;
  font-weight: bold;
  margin: 0px;
  padding: 10px
}

.date-selected{
  background-color: #3590F3 !important;
  color : white !important;
  font-weight: bold;
  margin: 10px
}

.sign-up-button{
  padding: 12px;
  background-color: #3590F3;
  white-space: nowrap;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.sign-up-button-inactive{
  padding: 12px;
  background-color: lightgrey;
  white-space: nowrap;
  color: darkgray;
  font-weight: bold;
  text-decoration: none;
}

.r-footer-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registration-outer{
  padding: 105px 20px 100px 20px; 
  display: flex;
  justify-content: center; 
}

.registration-inner-formpage{
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
  width: 100%;
}

.registration-title{
  color: #3590F3;
  text-align: center;
}

.registration-section-title{
  text-align: left;  
  font-weight: 500;
}

.input-label{
  margin-bottom: 5px;
}

.input-section-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.input-subsection-container{
  flex-grow: 1; 
  min-width: 300px;
 
}

.meznik{
  height: 0px;
  width: 20px;
}

.registration-input{
  
  box-sizing: border-box;
  min-height: 32px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;

  border: 1px solid grey
}

.registration-input-group{
  box-sizing: border-box;
}

.radio-button{
  display: flex;
  align-items: center;
}

.registration-inner{
    padding-top: 150px;
}

.db{
  display: inline-block;
}


.back-button{
  margin-right: auto;
  margin-left: auto;
  max-width: 110px;
  text-decoration: none;
  color: white;
}

.success-message-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tc{
  text-align: center;
}

.mt20{
  margin-top: 20px;
}

.mt10{
  margin-top: 10px;
}

.mt0{
  margin-top: 0px;
}

input{
  height: 20px;
}

textarea{
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
}

.mr10-r{
  margin-right: 10px;
}
.ml10-r{
  margin-left: 10px;
}

.mb20{
  margin-bottom: 20px;
}

.mv20{
  margin-bottom: 20px;
  margin-top: 20px;
}

.mt20{
  margin-top: 20px;
}

@media(max-width: 660px){
  .meznik{
    display: none;
  }
}